<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TikTok Downloader</title>
    <!-- Tailwind CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 flex flex-col items-center justify-start min-h-screen p-4 md:justify-center">

    <div class="m-4">
        <img src="/static/tiktok-downloader-logo.png" alt="logo" class="w-40 h-40">    
    </div>
    
    <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-lg">
        <form method="post" id="download-form" onsubmit="resetForm()">
            <div>
                <h2 class="text-lg font-semibold">Choose a platform:</h2>
                <div class="flex align-center">
                    <div class="flex pt-4 pb-4 mr-4">
                        <input id="instagram" type="radio" name="platform" value="instagram" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300">
                        <label for="instagram" class="ml-2 block text-sm font-medium text-gray-700">Instagram</label>
                    </div>
            
                    <div class="flex items-center">
                        <input id="tiktok" type="radio" name="platform" value="tiktok" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300">
                        <label for="tiktok" class="ml-2 block text-sm font-medium text-gray-700">TikTok</label>
                    </div>
                </div>
                
            </div>
            <div class="mb-4">
                <label for="tiktok_url" class="block text-gray-700 text-sm font-bold mb-2">TikTok URL</label>
                <input type="url" id="tiktok_url" name="tiktok_url" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent" placeholder="Enter TikTok URL" required>
            </div>
            <div class="mb-4">
                <label for="filename" class="block text-gray-700 text-sm font-bold mb-2">파일 이름</label>
                <input type="text" id="filename" name="filename" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent" placeholder="Enter file name" required>
            </div>
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full focus:outline-none focus:ring-2 focus:ring-blue-500">Download</button>
        </form>
    </div>

    <!-- Tailwind CSS JS (Optional) -->
    <script src="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.js"></script>
    <script>
        function resetForm() {
            // Wait for the form to submit and reset the form inputs
            setTimeout(function() {
                document.getElementById("tiktok_url").value = '';
                document.getElementById("filename").value = '';
            }, 100);

            console.log('resetting...')
        }
    </script>
</body>
</html>
